<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="dashparent">
  <!-- header -->
 
  
    
  <div id="header">
    <div id="inheader">
       <img src="assets/triquatra.jpg">
       <h4 class="head-title" style="margin-left: 40px; margin-top:40px;">Imagine HealthCare with a Mind</h4>
       <div class="icons">
            <div id="sub-icons">
                <img  src="assets/twitter.png">
            </div>
            <div id="sub-icons">
                <img  src="assets/facebook.png">
           </div>
          <div id="sub-icons">
               <img  src="assets/dribbble.png">
          </div>
          <div id="sub-icons">
               <img  src="assets/linkedin.png">
          </div>
          <div id="sub-icons">
                <img  src="assets/rss.png">
          </div>
      </div>
   </div>
</div>
  

       <!-- options -->
      
      
        <div class="option-card">
        
         <div style="background-color:#169fe6;"id="option-topics">   
            
               <h4  id="option-text">Home</h4>
            
          </div>
          <div id="divider"></div>
         <div id="option-topics">
           
                <h4 id="option-text" >Product</h4>
            
         </div>
         <div id="divider"></div>
         <div id="option-topics">
            
                <h4 id="option-text">AboutUs</h4>
            
          </div>
          <div id="divider"></div>
          <div id="option-topics">
            
                  <h4 id="option-text">ContactUs</h4>
            
          </div>
          <div id="divider"></div>
    
        </div>


    
        <div id="maincontent">
        <!-- content -->

      <!-- home -->
     <app-dashboard></app-dashboard>
      <!-- <app-home ></app-home> -->
      <!-- product -->
      <!-- about -->
      <!-- contactus -->
       </div>

       <!-- footer -->
       <div class="footer">

        <div class="footer-content">
           <!-- address -->
           <div  class="footer-img">
            <div  class="footer-title">
              <h2 class="foot-title">Triquetra Healthcare & Technology Private Limited</h2>
          </div>
               <img style="margin-top: 25px; margin-left: 120px;" src="assets/triquatra.png">
            </div>
           <div class="contact">
               
                <h3 style="margin-top: 55px;" class="content-heading">Contact Detials</h3>
            <div  id="rowparts">
              <svg style="margin-right:4px;margin-top: 18px" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/><circle cx="12" cy="9" r="2.5"/></svg>
              <h4 class="paragraph">Address </h4>
              <h6 class="paragraph" style="text-align: center;">:   No. 8, Shakuntala Arcade, <br> Hennur Main Road,<br> Bangalore - 560077.</h6>
            </div>
    
          <div style="margin-right: 30px;" id="rowparts">
            <svg style="margin-right:4px;margin-top: 18px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 3H2C.9 3 0 3.9 0 5v14c0 1.1.9 2 2 2h20c1.1 0 1.99-.9 1.99-2L24 5c0-1.1-.9-2-2-2zm0 16H2V5h20v14zm-2.99-1.01L21 16l-1.51-2h-1.64c-.22-.63-.35-1.3-.35-2s.13-1.37.35-2h1.64L21 8l-1.99-1.99c-1.31.98-2.28 2.37-2.73 3.99-.18.64-.28 1.31-.28 2s.1 1.36.28 2c.45 1.61 1.42 3.01 2.73 3.99zM9 12c1.65 0 3-1.35 3-3s-1.35-3-3-3-3 1.35-3 3 1.35 3 3 3zm0-4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm6 8.59c0-2.5-3.97-3.58-6-3.58s-6 1.08-6 3.58V18h12v-1.41zM5.48 16c.74-.5 2.22-1 3.52-1s2.77.49 3.52 1H5.48z"/></svg>
              <h4 class="paragraph">Phone :</h4>
              <h5 class="paragraph" style="margin-top:23px;margin-left: 5px;">  91 990 1699 592</h5>
          </div>
        
          <div id="rowparts">
            <svg style="margin-right:6px;margin-top: 18px" xmlns="http://www.w3.org/2000/svg"   height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/></svg>
              <h4 class="paragraph">Email</h4>
               <h5 class="paragraph">:    corporate@triquetra.in</h5>
          </div>
        
     </div>
         
          
        </div>
    </div>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
