<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="dashparent">
  <!-- header -->
 
  
    
  <div id="header">
    <div id="inheader">
       <img src="assets/triquatra.jpg">
       <h4 style="margin-left: 40px; margin-top:40px;">Imagine HealthCare with a Mind</h4>
       <div class="icons">
            <div id="sub-icons">
                <img  src="assets/twitter.png">
            </div>
            <div id="sub-icons">
                <img  src="assets/facebook.png">
           </div>
          <div id="sub-icons">
               <img  src="assets/dribbble.png">
          </div>
          <div id="sub-icons">
               <img  src="assets/linkedin.png">
          </div>
          <div id="sub-icons">
                <img  src="assets/rss.png">
          </div>
      </div>
   </div>
</div>
  

       <!-- options -->
      
      
        <div class="option-card">
        
         <div style="background-color:#169fe6;"id="option-topics">   
            
               <h4  id="option-text">Home</h4>
            
          </div>
          <div id="divider"></div>
         <div id="option-topics">
           
                <h4 id="option-text" >Product</h4>
            
         </div>
         <div id="divider"></div>
         <div id="option-topics">
            
                <h4 id="option-text">AboutUs</h4>
            
          </div>
          <div id="divider"></div>
          <div id="option-topics">
            
                  <h4 id="option-text">ContactUs</h4>
            
          </div>
          <div id="divider"></div>
    
        </div>


    
        <div id="maincontent">
        <!-- content -->

      <!-- home -->
     <app-dashboard></app-dashboard>
      <!-- <app-home ></app-home> -->
      <!-- product -->
      <!-- about -->
      <!-- contactus -->
       </div>

       <!-- footer -->
       <div class="footer">

        <div class="footer-content">
           <!-- address -->
           <div class="footer-img">
            <div  class="footer-title">
              <h3>Triquetra Healthcare & Technology Private Limited</h3>
          </div>
               <img  src="assets/triquatra.png">
            </div>
           <div class="contact">
               
                <h3>Contact Detials</h3>
            <div  id="rowparts">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 20 25" width="24px" fill="#000000" ><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/><circle cx="12" cy="9" r="2.5"/></svg>
              <h4>Address </h4>
              <h6 >:   No. 8, Shakuntala Arcade, <br> Hennur Main Road,<br> Bangalore - 560077.</h6>
            </div>
    
          <div id="rowparts">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 20 25" width="24px" fill="#000000"><path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"/><path d="M20 0H4v2h16V0zM4 24h16v-2H4v2zM20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 2.75c1.24 0 2.25 1.01 2.25 2.25s-1.01 2.25-2.25 2.25S9.75 10.24 9.75 9 10.76 6.75 12 6.75zM17 17H7v-1.5c0-1.67 3.33-2.5 5-2.5s5 .83 5 2.5V17z"/></svg>
              <h4>Phone </h4>
              <h5>:  91 990 1699 592</h5>
          </div>
        
          <div id="rowparts">
              <h4>Email</h4>
               <h5>:    corporate@triquetra.in</h5>
          </div>
        
     </div>
           <!-- feeds -->
           <div class="feeds">
              <h3>Feeds:</h3>
          <div class="feed-content">
              <ul>Reliable</ul>
              <ul>Intuitive</ul>
              <ul>Adaptable</ul>
              <ul>Scalable</ul>
          </div>
           </div>
        </div>
    </div>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
